body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header{
  background-color: #1a1a1a;
}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.navbar > a{
display: flex;
justify-content: space-between;
flex-grow: 1;
justify-content: center;
margin-top: 35px;
margin-bottom:35px
}

#navstyle {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#navstyle:hover {
  text-decoration: underline;
  text-shadow: 0 2px 4px #585858;
}



.intro {
  text-align: center;
  padding: 100px 0;
  background-image: url('../img/btcindex.jpeg');
  background-size: cover;
}

.intro h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.intro .description {
  margin: 20px 0;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto 40px;
}

.intro .get-started {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.about, .projects, .skills, .contact {
  background-color: #1a1a1a;
  padding: 50px 0;
  text-align: center;
}

.about h2, .projects h2, .skills h2, .contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p, .projects p, .skills p, .contact p {
  max-width: 800px;
  margin: 0 auto 20px;
  font-size: 18px;
}

.project-card {
  background-color: #00ff80a9;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  text-align: center;
}

.project-card:hover {
  background-color:  #00ff8067 ;
}


.project-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  
}

#project-link{
  text-decoration: none;
  color: white;
}

#project-link:hover {
  text-shadow: 0 3px 6px rgb(71, 71, 71);
  
}

.skills-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill-btn {
  background-color: #00ff8067 ;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.skill-btn:hover {
  background-color: #00ff80a9;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact input, .contact textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.contact-btn {
  background-color: #00ff80a9 ;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

.footer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 5px 0;
}

@media (max-width: 767px) {
  .hero .description {
      margin: 20px 0;
      font-size: 18px;
      max-width: 800px;
      margin: 0 auto 40px;
      background-color: rgba(85, 78, 78, 0.6);
  }
}

